# 应用基本配置
Global:
  Env:         debug               #环境
  AppName:     MyApp              #应用名
  ServerName:  exampler.com       #服务域名

# Gin配置
Gin:
  ListenHost: "127.0.0.1"      # 服务运行ip
  ListenPort: 8090             # 服务运行端口
  Tls:        false            # HTTPS相关配置，开关
  CertFile:   ""               # HTTPS相关配置，证书文件
  KeyFile:    ""               # HTTPS相关配置，私匙文件

# Cors配置
Cors:
  AllowAllOrigins: true      #AllowAllOrigins设置是否允许所有来源
  AllowOrigins:               #AllowOrigins设置的地址是可以被执行的跨域请求来源。如果特殊值(*)出现在列表中,所有的跨域将被允许，它是一个列表
    - http://localhost:3000
  AllowMethods:               #AllowMethods 设置客户端允许使用的跨域请求的方法列表，如不设置默认值是简单方法(GET and POST)，它是一个列表
    - GET
    - POST
    - PUT
    - PATCH
    - DELETE
    - HEAD
    - OPTIONS
  AllowHeaders:               #AllowHeaders 设置客户端允许使用的非简单跨域请求的请求头字段，它是一个列表
    - Origin
    - Authorization
    - Content-Length
    - Content-Type
  AllowCredentials: true         # AllowCredentials 显示请求可以包含用户凭证，如cookies,HTTP authentication或客户端SSL证书。它是一个布尔值
  ExposeHeaders:                 # ExposedHeaders指示哪些头可以安全地公开给CORS API，它是一个列表
    - Content-Length
  MaxAge: 3600                   # MaxAge指示可以缓存预检请求的结果的时间（秒）
  #AllowWildcard: true           #是否允许添加源，如http://some domain/*、https://api.*或http://some.*.subdomain.com
  #AllowBrowserExtensions: true  #允许使用流行的浏览器扩展模式
  #AllowWebSockets: true         # 设置允许websocket协议

Cron:
  Location: local

OAuth:
  WechatSignSwitch: false
  WechatOAuth2AppKey:
  WechatOAuth2AppSecret:
  WeiboSignSwitch: false
  WeiboOAuth2AppKey:
  WeiboOAuth2AppSecret:
  QQSignSwitch: false
  QQOAuth2AppKey:
  QQOAuth2AppSecret:

# Etcd配置
Etcd:
  Endpoints:                # 单机或集群主机地址
    - 127.0.0.1,
  AutoSyncInterval:     0, #更新其最新成员端点的时间间隔。 0禁用自动同步。 默认情况下，自动同步被禁用。
  DialTimeout:          0, #未能建立连接超时。
  DialKeepAliveTime:    0, # 客户端ping服务器以查看传输是否活动的时间。
  DialKeepAliveTimeout: 0, #客户端等待keep-alive探测响应的时间。如果此时未收到响应，则连接将关闭。
  MaxCallSendMsgSize:   0, #客户端请求发送限制（字节）。如果为0，则默认为2.0 MiB（2*1024*1024）。请确保“MaxCallSendMsgSize”<服务器端默认发送/接收限制。 （“--max request bytes”标记为etcd或“embed.Config.MaxRequestBytes”）。
  MaxCallRecvMsgSize:   0, #客户端响应接收限制。如果为0，则默认为“math.MaxInt32”，因为范围响应可能会明显超过请求发送限制。请确保“MaxCallRecvMsgSize”>=服务器端默认发送/接收限制。（--etcd的“max request bytes”标志或“embed.Config.MaxRequestBytes”）。
  TLS:                  null, #TLS保存客户端安全凭据（如果有）。
  Username:             aaa, #认证用户名
  Password:             bbb, #认证密码
  RejectOldCluster:     false, #如果true,则拒绝针对过时的群集创建客户端。
  PermitWithoutStream:  false, # 如为true则设置后将允许客户端在没有任何活动流（RPC）的情况下向服务器发送keepalive ping。

# zap日志配置
Logger:
  #日志级别
  DebugLevelSwitch:    false      #调试日志级别开关
  InfoLevelSwitch:    true        #信息日志级别开关
  WarnLevelSwitch:    true        #警告日志级别开关
  ErrorLevelSwitch:    true       #错误日志级别开关
  DPanicLevelSwitch:    true      #调试时恐慌日志级别开关panic()
  PanicLevelSwitch:    false      #恐慌日志级别开关 panic()
  FatalLevelSwitch:    true       #致命日志级别开关,os.Exit(1)
  # 选择日志记录方案
  SimpleZapCore:        true      # 简单日志输出:stdout + info.log + error.log
  RotateZapCore:        false     # 归档日志输出:stdout + info[date].log + error[date].log
  SyncZapCore:          false     # 远程异步日志输出:stdout + (mq/sql db/ nosql db)
  # 标准输出设置
  StdoutLogSwitch:       true     #标准输出开关
  # 文件日志输出设置
  LogDir:               ./log     #日志文件输出文件目录
  # 归档文件日志输出设置
  RetateLogSwitch:       false     #按日期归档输出开关
  MaxDayCount:            30      #日志数据最多保留的日志天数
  WithRotationTime:       1       #多久做一次归档，单位天

  # 异步日志输出设置
  SyncLogSwitch:          false    # 异步日志输出开关

  # mongo日志输出设置
  MongoLogSwitch:         false               #启用mongo数据库记录日志数据的开关
  MongoLogCollection:     ginger_log         #mongo的日志数据collection
  MongoLogExpire:         0               #mongo日志指定时间间隔后自动过期,0为不设置

# mysql数据库配置
Mysql:
  DbHost: localhost   #主机地址
  DbPort: 3306        #端口
  DbUser: dev      #数据库用户名
  DbPasswd: 123456    #用户密码
  DbName: dev_db      #数据库名
  ConnMaxLifetime: 60 #每个连接最长生命周期，单位秒
  MaxIdleConns: 100   #连接池最大闲置连接数
  MaxOpenConns: 200   #连接池最大连接数
  Charset: utf8       #传输字符编码
  AllowCleartextPasswords: TRUE #开发环境中设置允许明文密码通信
  InterpolateParams: TRUE #设置允许占位符参数
  Timeout: 5            #连接请求的超时时间，单位秒
  ReadTimeout: 5        #读超时时间，单位秒
  ParseTime: TRUE       #将数据库的datetime时间格式转换为go time包数据类型
  PING: TRUE            #连接时PING测试

Gorm:
  Dialect:       mysql      # 数据库驱动类型
  DbHost:        localhost  # 主机地址
  DbPort:        3306       # 主机端口
  DbUser:        dev        # 用户名
  DbPasswd:      123456     # 密码
  DbName:        dev        # 数据库名
  ChartSet:      utf8       # 字符集
  ParseTime:     true       # 将数据库的datetime时间格式转换为go time包数据类型
  Local:         ""         # 本地时区设置
  SSLMode:       ""         # 加密传输
  SingularTable: false      # 是否设置全局复数表名

# mongodb数据库配置
Mongodb:
  DbHosts:
    - localhost:27017
  DbUser: ""
  DbPasswd: ""
  PasswordSet: false    # 对于GSSAPI，如果指定了密码，则此值必须为true，即使密码是空字符串，并且 如果未指定密码，则为false，表示应从运行的上下文中获取密码 过程。对于其他机制，此字段将被忽略。
  Database: ginger_db

  AutoEncryptionOptions: false #作用于collection的自动加密
  Compressors: # 通信数据压缩器,可多选
    - "zstd"
  ConnectTimeout: 5 #接超时时间,单位秒
  Direct: true #是否单机直连
  HeartbeatInterval: 5  #定期连接心跳检查,不设置默认10s
  LocalThreshold: 10000 #指定“延迟窗口”的宽度：在为一个操作选择多个合适的服务器时，这是最短和最长平均往返时间之间可接受的非负增量。延迟窗口中的服务器是随机选择的。默认值为15毫秒。
  MinPoolSize: 100 #最小连接池连接数
  MaxPoolSize: 100 #最大连接池连接数
  MaxConnIdleTime: 3600 #连接池闲置连结束最大保持时间,0时表示无限制保持闲置连接状态
  ReplicaSet: "" #指定群集的副本集名称。如果指定，集群将被视为副本集，驱动程序将自动发现集中的所有服务器，从通过ApplyURI或SetHosts指定的节点开始。副本集中的所有节点必须具有相同的副本集名称，否则客户端不会将它们视为该集的一部分。
  RetryWrites: true #指定是否应在某些错误（如网络）上重试一次受支持的写入操作
  RetryReads: true #指定是否应在某些错误（如网络）上重试一次受支持的读操作

# Redis配置
Redis:
  DbHost: localhost #redis主机
  DbPort: 6379      #端口号
  DbAuth: FALSE     #是否开启鉴权
  DbPasswd: 123456  #鉴权密码
  MaxActive: 0      #最大活动链接数。0为无限
  MaxIdle: 50       #最大闲置链接数，0为无限
  IdleTimeout: 60   #闲置链接超时时间

# Redis PubSub配置，尽量与Redis缓存服务器分开
RedisPubSub:
  Switch: false     #redisMq开关
  DbHost: localhost #redis主机
  DbPort: 6379      #端口号
  DbAuth: FALSE     #是否开启鉴权
  DbPasswd: 123456  #鉴权密码
  MaxActive: 0      #最大活动链接数。0为无限
  MaxIdle: 0       #最大闲置链接数，0为无限
  IdleTimeout: 0   #闲置链接超时时间

# NatsMq配置
NatsMq:
  Switch: false     #natsMq开关
  NatsServer:
    -
      Host: ""      #nats-server的主机地址
      Port: 0       #nats-server的服务端口
      AuthSwitch:   false     #是否开启鉴权
      UserName: ""  #鉴权用户名
      Password: ""  #鉴权密码

# 七牛云对象存储配置
QiniuOss:
  Switch: false
  AccessKey: "yourAccessKey"
  SecretKey: "yourSecretKey"
  Bucket: "yourBucketName"
  UseHTTPS: false                       #是否使用https域名
  UseCdnDomains: false                  #上传是否使用CDN上传加速
  UpTokenExpires: 7200                  #上传凭证2小时有效期
  CallbackURL: ""                       #上传回调地址
  CallbackBodyType: "application/json"  #上传回调信息格式
  EndUser: ""                           #唯一宿主标识
  FsizeMin: 1024                        #限定上传文件大小最小值，单位Byte。
  FsizeLimit: 10485760                  #限定上传文件大小最大值，单位Byte。超过限制上传文件大小的最大值会被判为上传失败，返回 413 状态码。
  MimeLimit: "image/jpeg;image/png;image/gif"  #限定上传类型

# 阿里云对象存储配置
AliyunOss:
  Switch: false
  AccessKeyId: "yourAccessKeyId"
  AccessKeySecret: "yourAccessKeySecret"
  BucketName: "yourBucketName"
  Endpoint: "http://oss-cn-shenzhen.aliyuncs.com" #CDN空间机房
  UseCname: false             #是否使用自定义域名CNAME
  ConnTimeout:  10            #请求超时时间，包括连接超时、Socket读写超时，单位秒,默认连接超时30秒，读写超时60秒
  RwTimeout: 120
  SecurityToken: ""           #临时用户的SecurityToken
  EnableMD5: false            #是否开启MD5校验。推荐使用CRC校验，CRC的效率高于MD5
  EnableCRC: true             #是否开启CRC校验
  Proxy: ""                   #代理服务器，如http://8.8.8.8:3128
  AuthProxy: ""               #带账号密码的代理服务器
Validate:
  TransZh: true
